@{
    Layout = null;
}
<h1>你好，</h1>
<p>欢迎来到 Rector 的ASP.NET MVC 5 系列文章教程。在这里，Rector将和你一起一步一步创建一个集成Repository+Autofac+Automapper+SqlSugar的WEB应用程序。</p>
<p>你准备好了吗？</p>
<p>......</p>
<p>让我们开始ASP.NET MVC 5 应用程序的探索之旅吧!!!</p>