@model TsBlog.Domain.Entities.Post
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post find by id test</title>
</head>
<body>
<div>
    <p>Post id:@Model.Id</p>
    <p>Post Title:@Model.Title</p>
</div>
</body>
</html>
